# Visual Studio garbage
.vs/
# Virtual environments
.venv/
.venv_linux/

# FastAI cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datasets (generated for training, not needed in the repo)
data/

# Raw assets unless needed
assets/raw/

# Large exported model formats
models/*.pth
models/*.pt
models/*.bin

# Allow only the exported .pkl model
!models/*.pkl

# OS-specific junk
.DS_Store
Thumbs.db

